@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.section {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 200px;
}

.container {
  width: 100%;
  height: 100%;
}

.path__list-item:nth-child(2)::before {
  content: "";
  background-color: #bcc3d2;
  width: 4px;
  height: 4px;
  margin-right: 8px;
  border-radius: 2px;
}
.contacts__wrapper {
  margin-top: 52px;
}

.title {
  color: #2a2a30;
  margin-top: 32px;
  font-size: 37px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.6px;
}
.contacts-subtitle {
  color: #2a2a30;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.contacts-subtitle:nth-child(1) {
  margin-top: 52px;
}

@media (max-width: 768px) {
  .section {
    padding: 0 20px;
  }
  .path__wrapper {
    display: none !important;
  }
  .title {
    text-align: center;
    font-size: 23px;
  }
}
