@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

.section {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 200px;
}


.container {
    width: 100%;
    height: 100%;
}


.footer__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 135px;
    align-items: center;
    padding-bottom: 81px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list-title {
    color: #282D3C;
    font-size: 13.125px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.14px;
    list-style: none;
}

.item__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    margin-top: 13px;
    list-style-type: none;
}

.list-item-link {
    text-decoration: none;
    cursor: pointer;
    color: #8D909A;
    font-size: 13.125px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.14px
}

.footer__private {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.private__text-politic {
    display: flex;
    gap: 31px;
}

.private-text {
    color: #BCC3D2;
    font-size: 11.063px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.06px;
}

.contacts-title {
    color: #8C94A8;
    font-size: 12.906px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.14px;
}

.contacts-subtitle {
    margin-top: 8px;
    color: #155AB7;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.3px;
}

.private-company {
    text-transform: uppercase;
    color: #155AB7;
    font-size: 24px;
    font-weight: 700;
}

.private__social {
    display: flex;
    gap: 19px;
}

.footer__adaptive{
    display: none;
}
@media (max-width: 768px) {
    .section {
        padding: 0;
    }
    .footer__wrapper{
        width: 100%;
    }
    .footer__list{
        display: none;
    }
    .footer__private{
        display: none;
    }
    .footer__contacts{
        display: flex;
        gap: 13px;
        margin-top: 33px;
        padding-bottom: 45px;
    }
    .contacts-call{
        border-radius: 12px;
        background: #155AB7;
        width: 347px;
        padding: 20px 0;
        gap: 10px;
        border: none;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.16px;
    }
    .footer__adaptive{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .contacts-write{
        width: 347px;
        padding: 20px 0;
        border-radius: 12px;
        background: #F4F6FB;
        color: #155AB7;
        border: none;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.16px
    }
    .footer__phone-contacts{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
    }
    .contacts__title{
        color: #8C94A8;
        font-size: 12.797px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.14px;
        margin-top: 24px;
    }
    .contacts__subtitle{
        color: #282D3C;
        font-size: 18.75px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.3px;
        margin-top: 7px;
    }
    .footer__private-adaptive{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ECF0F8;
        padding-top: 32px;
        width: 100%;
        gap: 32px;
    }
    .private-adaptive-text{
        color: #BCC3D2;
        font-size: 12.906px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.14px;
    }
    .private-adaptive-logo-text{
        color: #155AB7;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.3px;
        text-transform: uppercase;
    }
    .footer__social-email-adaptive{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer__adaptive-social{
        display: flex;
        justify-content: flex-end;
        gap: 19px;
    }
    .footer-img-social-adaptive{
        width: 33px;
        height: 33px;
    }
}

@media (max-width: 632px) {
    .footer__adaptive{
        width: 100%;
    }
    .footer__contacts{
        width: 100%;
    }
    .footer__social-email-adaptive{
        display: flex;
        align-items: start;
    }
    .footer__adaptive-social{
        display: flex;
        gap: 19px;
        margin-top: 30px;
    }
    .contacts-call{
        width: 100%;
    }
    .contacts-write{
        width: 100%;
    }
    .footer__private-adaptive{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}